body{
    margin: 0;
    padding: 0;
    background-color: #EAF6FF;
}



/* CSS NAV */
.navbar {  
    display: flex ;  
    align-items: center; 
    justify-content: space-between;     
}

.hamburger{
    display: none;

}
.logocr {
    background-image:url("img/Logo\ cr\ SIMPLE.png");
    width: 140px;
    height: 140px;
    margin: 8px;
    margin-left: 30px;
    padding: 8px;
    border-radius: 50px;
    background-size: cover;
    background-repeat: no-repeat;
        
}

.menuPrincipal a{
    justify-content: space-between;
    margin-right: 50px;
    font-size: 40px;
    transition: 0.5s;
    color:#3E8FD6;
    text-decoration: none;   
}

 .menuPrincipal a:hover {
    text-decoration: none;
    color: white;
    font-size: 25px; 
    
}

/* CSS DE HERO */

.main-title{
    background-color:#1C2541;
    height: 750px;
    width: 100%;
    
}
.contenedor-hero{
    display: grid; 
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 10px;
}

.heroText h1{
  margin-top: 20px;
  margin-left: 50px;
  font-size: 35px;
  color: #1E5A9C;
}

.heroText p{
  font-size: 30px;
  margin:50px;
  color: #3E8FD6;
}

 .heroOficce{
    grid-column: 1;
    background-image:url(img/image_ce7a0c70.png);
    height: 400px;
    width: 750px;
    grid-column: 2;
    background-repeat: no-repeat;
    background-size: cover;
    margin:50px;
    margin-left: 30%;
    border-radius: 50px;
} 

.heroButton{
  margin-top: 20px;
  margin-left: 100px;
  height:5dvh;
  width: 200px;
  border-radius: 7%;
  border :2px solid #1E5A9C;
  background-color: rgba(0, 0, 0, 0); 
  color: #1E5A9C;
  font-size: 16px;
  
}

.heroButton:hover{
  border: 2px solid #9badba;
  font-size: 20px;
  transition: 0.5s;
  border: 4px solid #1E5A9C;

}
/* CSS INFO */
.info{
   
    height: 500px;
    width: 100%;
    display: flex;
}
.infocontainer{
  height: 600px;
  width: 100%;
  flex-direction:column;
  background-color: #103f5d;
  margin-bottom: 700px; 
  color:white; 
  
}
.sectionInfo{
  /* padding: 80px;
  padding-top: 0; */

}

#sectionInfoTitle{
  margin-top: 120px;
  margin-right: 200px;
  text-align: left;
  font-size: 40px; 
}

.sectionInfo p{
  margin-top: 100px;
  text-align: end;
  font-size: 30px;
}


.sectionInfo2{
  background-color: #EAF6FF;
  margin-top: -200px;
  
}
.infoContainer2{
  
  height: 600px;
  width: 100%;
  background-color:#EAF6FF;
}

.sectionInfo2Photo{
   background-image: url(img/consultoriaerp.jpeg);
   width: 500px;
   height: 400px;
   background-size: contain;
   background-repeat: no-repeat;
   margin-left: 80px;
   margin-top: -60px;
   border-radius: 15%;
   transform: translate3d(0px, 0.56325vh, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(-12.2973deg) skew(0deg, 0deg);
}
.sectionInfo2Text{
  margin: 50px;
  font-size:35px;
  justify-items: end;
  color: #827b7b;
  padding-left: 200px;
  padding-right: 200px;

}

/* TITLE WORK */
.infowork{
  width: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;

}



/* CSS PHOTO */

.sectionPhoto{
  height: 1800px;
  width: 80%;
  background-color: #EAF6FF;
  display: grid;
  margin: 8%;
  grid-template-columns: repeat(3 ,1fr);
  gap: 20px;
  
}


#card1{
  background-image: url(img/prueba2.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50px;
  margin-bottom: 6rem;
    
}

#card2{
  background-image: url(img/card2.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50px;
  margin-bottom: -4rem;
    
}
#card3{
  background-image: url(img/card3.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50px;
  margin-bottom: 8rem;
  
}
#card4{
  background-image: url(img/card4.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50px;
  margin-top: -6rem;
}

#card5{
  background-image: url(img/card5.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50px;
  margin-top: 4rem;

}

#card6{
  background-image: url(img/card6.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50px;
  margin-top: -8rem;
  
}
#card7{
  background-image: url(img/card1.jpeg);
  
}
#card8{
  background-image: url(img/card1.jpeg);
  
}
#card9{
  background-image: url(img/card1.jpeg);
  
}



/* CSS RESPONSIVO */

@media (max-width: 505px) {
    .logocr {
    background-image:url("img/Logo\ cr\ SIMPLE.png");
    width: 110px;
    height: 110px;
    margin-left: 30px;
    padding: 8px;
    border-radius: 50%;
        
}

  /* Mostrar el icono de hamburguesa */
  .hamburger {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    margin-right: 50px ;
  }

  /* Dibujar las líneas de la hamburguesa */
  .hamburger  span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #1E5A9C;
    transition: 0.3s;
  }

  /* Ocultar el menú de enlaces y transformarlo en panel vertical */
  .menuPrincipal {
    display: none;
    flex-direction: block; 
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #333;
    padding: 1rem 0;
    text-align: center;
  }

  .navbar{
  display: flex;
  justify-content:space-between;
  } 
  
  .contenedor-hero{
    
    display: grid;
    height: 1000px;
    width: 100%;
    grid-template-columns: 1fr ;
    
}

.heroOficce{
    
    background-image:url(img/image_ce7a0c70.png);
    height: 500px;
    width: 300px;
    grid-column: 1;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 15% ;
    margin-top: 150px;
        
} 
.heroText h1{
  margin-top: 20px;
  margin-left: 10%;
  font-size: 30px;
  color: #1E5A9C;
}

.heroButton{
  margin-left: 24%;
  height: 50px;
  width: 200px;
  border :2px solid #1E5A9C;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 25%;
  color: #1E5A9C;
  font-size: 16px;
}


.info{
    height: 1000px;
    width: 100%;
    display: grid;
    
}
.infocontainer{
  height: 600px;
  width: 100%;
  background-color: #103f5d;
  color:rgb(28, 43, 87) ; 
  grid-template-columns: 1fr ;
}










.infoContainer2{
  
  height: 600px;
  width: 100%;
  background-color:#EAF6FF;
  display: grid;
}

.sectionInfo2Photo{
   background-image: url(img/consultoriaerp.jpeg);
    height: 220px;
    width: 300px;
    grid-column: 1;
    background-repeat: no-repeat;
    background-size: cover;
    transform: translate3d(0px, 0px, 0px)
     
}

}
#sectionInfoTitle{
  margin-top: 700px;
  
}

}

/* TEXTO CSS */

.sekuya-regular {
  font-family: "Sekuya", system-ui;
  font-weight: 400;
  font-style: normal;
}

.special-elite-regular {
  font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;
}




.montserrat{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100px;
  font-style: normal;
  
}

.google-sans{
  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "GRAD" 0;
}

        