* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

body {
    background-color:#1D2D44
}

.navbar {
    width: 100%;
    
    /* padding: 2px 30px; */
    display: flex;
    justify-content: space-between;
    align-items: center;  
    /* border-bottom: 1px solid #ffffff; */
    position:relative;
    background-color: #C9DCE8;
}


.menuPrincipal {
    display: flex;
    gap: 20px;

}

.logocr {
    
    font-size: 24px;
    font-weight: bold; 
}

.menuPrincipal a {
    text-decoration: none;
    color:#3E5C76;
    transition: 0.5s;
    font-size: 25px;
}

.menuPrincipal a:hover {
    color: white;
    font-size: 30px;
    
}


.info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 8px;
    grid-template-columns: repeat(auto-fit, minmax(200px,fr));
}

.title{

    padding-top: 5%;
    padding-left: 10%;
    background: #f3fff6;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin-left: 5%;
    font-size: 40px;
}
    



.officceImg{
    grid-row: span 5 / span 5;
     margin-top: 5%;
    margin-left: 20%;
    
    
}

.text1{
    grid-row: span 4 / span 4;
    grid-row-start: 2;
    margin-left: 15%;
    margin-top: 20%;
    font-size: 35px;

}
        
        